body {
    background-color: #f0f0f0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(65, 240, 109);
    background-color: rgb(231, 28, 28);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 10px;
}

h2 {
    color: #fff;
    background-color: rgb(231, 28, 28);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 10px;
}